Package: coolping
Version: 1.5
Section: utils
Priority: optional
Architecture: all
Depends: bash, coreutils, iputils-ping, curl, bc, ncurses-bin
Maintainer: Edris Ranjbar <edrisranjbar.dev@gmail.com>
Description: 🛰️ CoolPing - Stylish ping with monitoring, and emojis.
 A powerful terminal network diagnostic tool with emoji feedback, continuous monitoring and customization.
